  </ul>
</div> <!-- Fermeture div ALMANAX -->
<div id="liens">
  <h3>Liens utiles</h3>
  <ul id="astuces">
    <li>Cartes : 
      <ul>
        <li><a href="http://dmap.depotoi.re/" title="Carte légère des ressources Dofus">Carte ressources</a> (<a href="http://dmap.depotoi.re/apropos.html" title="Comment participer à l'aventure Lighty Dmap ?">comment participer ?</a>)</li>
      </ul>
    </li>
    <li>Quêtes, donjons, tutoriels, infos : 
      <ul>
        <li><a href="http://www.dofuspourlesnoobs.com/" title="Le site de référence en matière de quêtes">Quêtes</a></li>
        <li><a href="http://dofus2.org/quetes.php" title="Tutoriel sur les quêtes de Dofus">Aide - Quêtes</a></li>
        <li><a href="http://dofus2.org/donjons.php" title="Tutoriel sur les donjons de Dofus">Aide - Donjons</a></li>
        <li><a href="http://dofus2.org/familiers" title="Tutoriel sur les quêtes de Dofus">Aide - Familiers</a></li>
        <li><a href="http://dofus.jeuxonline.info/#fr" title="Très bon outil pour découvrir des infos sur Dofus">Aide - Jeuxonline</a></li>
        <li><a href="http://wiki-dofus.eu/w/Accueil" title="Infos assez complète sur le jeu">Wiki (vieux)</a></li>
      </ul>
    </li>
    <li>Infos officielles persos, guildes, alliances : 
      <ul>
        <li><a href="http://forum.dofus.com/fr/flag-ankatracker" title="Ce qu'il faut savoir au jour le jour sur Dofus">À consulter RÉGULIÈREMENT</a></li>
        <li><a href="http://www.dofus.com/fr/persos-guildes/recherche" title="En savoir plus sur un personnage, une guilde, un artisan directement sur les serveurs d'Ankama">Infos sur un perso/guilde/artisan</a></li>
        <li><a href="http://www.dofus.com/fr/mmorpg/telecharger" title="Télécharger Dofus2">Télécharger Dofus 2</a></li>
      </ul>
    </li>
    <li>Quête du Dofus Ocre (capture d'âmes) : 
      <ul>
        <li><a href="http://metamob.fr/" title="Gérer ses captures en ligne">Gérer ses captures en ligne</a></li>
        <li><a href="http://www.the-legandary-darkness.com/pages/les-quetes/otomai/la-quete-de-l-eternelle-moisson-dofus-ocre/liste-des-monstres-de-la-quetes-ocre-et-par-etape.html" title="Liste des âmes à capturer pour chaque étape de la quête du Dofus Ocre">Liste des âmes par étape</a></li>
      </ul>
    </li>
    <li>Recettes secrètes : 
      <ul>
        <!--li><a href="http://www.dofus-site.com/mini-wakfu-potion-recette.html">Lien 1</a></li-->
        <li><a href="http://wiki-dofus.eu/w/Recettes_secr%C3%A8tes">Lien 1</a></li>
        <li><a href="http://sites.google.com/site/chevaliersdedofus/recettes-et-secrets-mini-wakfu">Lien 2</a></li>
      </ul>
    </li>
    <li>Système rapide, imperméable aux virus et espions : 
      <ul>
        <li><a href="http://www.ubuntu-fr.org/telechargement" title="Système d'exploitation léger, rapide et imperméables aux virus, espions, etc.">Ubuntu, le système sans virus</a></li>
        <li><a href="http://doc.ubuntu-fr.org/debutant" title="Infos sur Ubuntu">Ubuntu (tuto pour débutant)</a></li>
        <li><a href="http://doc.ubuntu-fr.org/dofus" title="Installer le jeu sur Ubuntu">Dofus sous Ubuntu (tuto)</a></li>
      </ul>
    </li>
    <li>Discussion vocale : 
      <ul>
        <li><a href="http://www.teamspeak.com/?page=downloads" title="Lien direct vers la page de téléchargement">Teamspeak</a>, plus sûr que Skype</li>
        <li><a href="http://www.mumble.com/" title="Lien vers la page officielle de Mumble">Mumble</a>, alternative Libre à Teamspeak</li>
        <li><a href="https://discordapp.com/" title="Découvrir Discord App">Discord App</a>, plus sûr et de meilleure qualité que Skype, disponible pour mobile, application web et avec salons de discussions</li>
      </ul>
    </li>
  </ul>
  <p class="signature">Ce site vous est proposé par la guilde <a href="http://fabuleux.depotoi.re/" title="">Fabuleux</a> (<a href="http://dofus.depotoi.re/" title="Portail Dofus des Jeunes Pousses du serveur Bowisse">Portail Dofus</a>)</p>
</div> <!-- fermeture des liens -->
</body>
</html>
