  </ul>
</div> <!-- Fermeture div ALMANAX -->
<div id="liens">
  <h3>Liens utiles</h3>
  <ul id="astuces">
    <li><a href="http://dofustools.everhate.com/index?page=cartes" title="Carte interactive des ressources pour les métiers de la récolte">Carte ressources</a></li>
    <li><a href="http://dofus2.org/quetes.php" title="Tutoriel sur les quêtes de Dofus">Aide - Quêtes</a></li>
    <li><a href="http://dofus2.org/donjons.php" title="Tutoriel sur les donjons de Dofus">Aide - Donjons</a></li>
    <li><a href="http://dofus2.org/familiers" title="Tutoriel sur les quêtes de Dofus">Aide - Familiers</a></li>
    <li><a href="http://barbok.fr/" title="Source d'info appartenant à un fan. Très complet">Aide selon Barbok</a></li>
    <li><a href="http://dofus.jeuxonline.info/#fr" title="Très bon outil pour découvrir des infos sur Dofus">Aide - Jeuxonline</a></li>
    <li><a href="http://wiki-dofus.eu/w/Accueil Wiki sur le jeu" title="Infos assez complète sur le jeu">Wiki (vieux)</a></li>
    <li><a href="http://www.dofus.com/fr/persos-guildes/recherche" title="En savoir plus sur un personnage, une guilde, un artisan directement sur les serveurs d'Ankama">Infos sur un perso/guilde/artisan</a></li>
    <li>Recettes secrètes : 
      <ul>
        <!--li><a href="http://www.dofus-site.com/mini-wakfu-potion-recette.html">Lien 1</a></li-->
        <li><a href="http://wiki-dofus.eu/w/Recettes_secr%C3%A8tes">Lien 2</a></li>
        <li><a href="http://sites.google.com/site/chevaliersdedofus/recettes-et-secrets-mini-wakfu">Lien 3</a></li>
      </ul>
    </li>
    <li><a href="http://www.dofus.com/fr/mmorpg-gratuit/download" title="Lien direct vers la version GNU/Linux du jeu Dofus2">Version Linux du jeu (lien direct)</a></li>
    <li><a href="http://www.teamspeak.com/?page=downloads" title="Lien direct vers la page de téléchargement">Teamspeak</a></li>
    <li><a href="http://www.ubuntu-fr.org/telechargement" title="Système d'exploitation pour éviter de se faire pirater son compte">Ubuntu</a></li>
    <li><a href="http://doc.ubuntu-fr.org/dofus" title="Installer le jeu sur Ubuntu">Doc du jeu pour Ubuntu</a></li>
    <li><a href="http://doc.ubuntu-fr.org/debutant" title="Infos sur Ubuntu">Ubuntu pour le débutant</a></li>
  </ul>
</div> <!-- fermeture des liens -->
</body>
</html>
