<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Almanax du jour + 6jrs</title>
  <meta name="keywords" content="dofus,almanax,courant,jour,semaine,prochain,théodoran,ax"/>
  <meta name="description" content="Almanax d'aujourd'hui à la semaine prochaine pour Dofus"/>
  <meta name="author" content="Guilde Noxious"/>
  <meta name="copyright" content="Noxious Team 2014"/>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
<h1>Page informative</h1>
<div id="almanax">
  <h3>Almanax de la semaine</h3>
  <ul id="almanax">
