<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Almanax du jour + ${number}jrs</title>
  <meta name="keywords" content="dofus,almanax,courant,jour,semaine,prochain,théodoran,ax"/>
  <meta name="description" content="Almanax Dofus d'aujourd'hui à la semaine prochaine"/>
  <meta name="author" content="Guilde Fabuleux 2014-2016"/>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
<h1>Page informative</h1>
<div id="almanax">
  <h3>Almanax des prochains jours</h3>
  <ul id="alma">
